.tech-item {
    width: fit-content;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(63, 61, 61);
    border-width: 0.5px;
    border-style: solid;
    background-color: #fafaff;
}