.capstone-container {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 10vh;
    min-height: 50vh;


    .tech-list {
        font-size: 24px;
    }

    .app-description {
        font-size: 24px;
    }

    .project-description {
        font-size: 16px;
        line-height: 1.5;
        color: #333333;
        width: 60%;
        margin: 0 auto;
        background-color: #f5ebe0;
        border-radius: 10px;
        padding: 20px;


        h1 {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            margin-bottom: 10px;
        }

        .app-link-container {
            font-size: 24px;
            margin-bottom: 40px;
        }

        .highlight {
            font-weight: bold;
        }
    }
}