body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, rgb(74, 76, 74), rgb(79, 79, 73));
}

.page-title-style {
  font-size: 36px;
  position: relative;
  background-image: linear-gradient(rgb(98, 79, 77), rgb(187, 127, 127));
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
}

.page-title-style:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

*{
  box-sizing: bord;
}
